<template name="addSpeaker">
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="name" class="col-lg-2 control-label">Name</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="name" placeholder="Speaker's Full Name">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="title" class="col-lg-2 control-label">Location</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="location" placeholder="Where is the speaker from?">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="title" class="col-lg-2 control-label">Blog</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="blog" placeholder="http://wordpress.com (optional)">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="website" class="col-lg-2 control-label">Website</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="website" placeholder="http://google.com (optional)">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="title" class="col-lg-2 control-label">Twitter</label>
	    <div class="col-lg-6">
	      <input type="text" class="form-control" id="twitter" placeholder="Twitter name (optional)">
	    </div>
	  </div>

	  <div class="form-group">
	    <label for="title" class="col-lg-2 control-label">Biography</label>
	    <div class="col-lg-6">
			     	<textarea class="form-control" id="details" rows="6" placeholder="More details and information about the speaker."></textarea>
			    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-lg-offset-2 col-lg-6">
	      <button type="submit" class="btn btn-default">Create</button>
	    </div>
	  </div>
	</form>

	 <div class="col-lg-offset-2 col-lg-6">
		<h1>Speakers</h1>
		{{#each speakers}}
			<h4>{{name}}</h4>
			<small>{{location}}</small>
			<a href="{{blog}}">Blog</a> 
			<a href="{{website}}">Website</a> 
			<a href="http://twitter.com/{{twitter}}">Twitter</a> 
			<p>
			{{details}}
			</p>
			<br />
			<br />
		{{/each}}
	</div>
</template>