<template name="grid">
<div class="row">
	<div class="col-md-1">
		8:00 am
	</div>
	{{#each blocks 8}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		9:00 am
	</div>
	{{#each blocks 9}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		10:00 am
	</div>
	{{#each blocks 10}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		11:00 am
	</div>
	{{#each blocks 11}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		12:00 am
	</div>
	{{#each blocks 12}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		1:00 pm
	</div>
	{{#each blocks 1}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		2:00 pm
	</div>
	{{#each blocks 2}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		3:00 pm
	</div>
	{{#each blocks 3}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		4:00 pm
	</div>
	{{#each blocks 4}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		5:00 pm
	</div>
	{{#each blocks 5}}
		{{>block}}
		
	{{/each}}
</div>
<div class="row">
	<div class="col-md-1">
		6:00 pm
	</div>
	{{#each blocks 6}}
		{{>block}}
		
	{{/each}}
</div>

</template>